{% extends "layout.html" %}

{% block body %}
    <p>Two Numbers</p>
    <form action="/solution" method="get">
        <p>Enter your operation.</p>
        <input autocomplete="off" autofocus name="num1" placeholder="Your first number" type="text">
        <input autocomplete="off" autofocus name="num2" placeholder="Your second number" type="text">
        <input autocomplete="off" autofocus name="operation" placeholder="Your operation" type="text">
        <button type="submit">Get Calculation</button>
    </form>

{% endblock %}