{% extends "layout.html" %}

{% block body %}
    <h3 class="center">Two Numbers</h3>
    <form action="/solution" method="get">
        <p class="center">Enter your operation.</p>
        <input autocomplete="off" autofocus name="num1" placeholder="Your first number" type="text">
        <input autocomplete="off" autofocus name="num2" placeholder="Your second number" type="text">
        <input autocomplete="off" autofocus name="operation" placeholder="Your operation" type="text">
        <button class="fancy_button" type="submit">Get Calculation</button>
    </form>

{% endblock %}